<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Videogame Keeper</title>
</head>
<body>
  <ul style="margin-bottom: 100px;">
    <li><a href="/">Home Page</a></li>
    <li><a href="/new-videogame">Add new videogame</a></li>
    <li><a href="/all-videogames">List all videogames</a></li>
  </ul>

  {{{body}}}
</body>
</html>